<template>
  <app-shell title="Circuits">
    <template slot="toolbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-light">
            <i class="far fa-plus-circle" />
            <span> Add Circuit</span>
          </button>
        </li>
      </ul>
    </template>
    <router-link to="/trainer" class="btn btn-light">
      Start
    </router-link>
  </app-shell>
</template>

<script lang="ts">
export default {
  name: 'Circuits',
};
</script>
