<template>
  <app-shell title="Exercises">
    <template slot="toolbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/exercises/add" class="btn btn-light">
            <i class="far fa-plus-circle" />
            <span> Add Exercise</span>
          </router-link>
        </li>
      </ul>
    </template>
    <loader-message v-if="exercises == null">Loading exercises...</loader-message>
    <div v-if="exercises && exercises.length == 0" class="card text-center w-50 mx-auto mt-4">
      <p class="card-header p-4">
        There are no exercises, yet.
        <br>Why don't you go ahead an
        <router-link to="/exercises/add">add one.</router-link>
      </p>
    </div>
    <div class="exercises-list">
      <div v-for="exercise in exercises" :key="exercise.id" class="card">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{exercise.name}}</h5>
          <p class="card-text">{{exercise.description}}</p>
          <div class="d-flex mt-auto card-buttons">
            <router-link :to="`/exercises/${exercise.id}/edit`" class="btn btn-outline-dark btn-sm">
              <i class="far fa-pencil"></i>
              Edit
            </router-link>
            <confirm-button
              class="ml-auto"
              confirm-message="Delete this exercise forever?"
              v-on:confirm="deleteExercise(exercise.id)"
            />
          </div>
        </div>
      </div>
    </div>
  </app-shell>
</template>

<script lang="ts">
import { sortBy } from 'lodash';
import Vue from 'vue';
import Exercise from '@/models/Exercise';
import exercisesRepo from '@/repositories/exercisesRepo';

interface Data {
  errorMessage?: string;
  exercises?: Exercise[];
}

export default Vue.extend({
  name: 'Exercises',
  data(): Data {
    return {
      errorMessage: undefined,
      exercises: undefined,
    };
  },
  mounted() {
    exercisesRepo
      .getAll()
      .then((exercises) => {
        this.exercises = sortBy(exercises, 'name');
      })
      .catch((error) => {
        this.errorMessage = error.message;
      });
  },
  methods: {
    deleteExercise(id: string) {
      exercisesRepo.destroy(id).then(() => {
        if (this.exercises) {
          this.exercises = this.exercises.filter((ex) => ex.id !== id);
        }
      });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/styles/base.scss';

.exercises-list {
  display: grid;
  grid-column-gap: $spacer;
  grid-row-gap: $spacer;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 2500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .card {
    &:not(:focus-within) .card-buttons {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      .card-buttons {
        opacity: 1;
      }
    }
  }
}

.menu-open {
  .exercises-list {
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 2500px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
</style>
