<template>
  <app-shell title="New Exercise">
    <template slot="toolbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/exercises" class="btn btn-light">
            <i class="fal fa-times" />
            <span> Cancel</span>
          </router-link>
        </li>
      </ul>
    </template>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form @submit.prevent="addExercise" class="form mt-4">
          <form-input v-model="exercise.name" id="exercise-name"
            label="Name" :error="errors.name" :autofocus="true"
          />
          <form-input v-model="exercise.description" id="exercise-descr"
            label="Description" :error="errors.description" type="textarea"
          />
          <div class="form-group">
            <label>Images</label>
            <image-uploader id="exercise-image-uploader" />
          </div>
          <loader-button type="submit" :loading="isSaving" loading-label="Adding..." class="btn btn-primary">
            Add Exercise
          </loader-button>
          <router-link to="/exercises" class="btn btn-link">Cancel</router-link>
        </form>
      </div>
    </div>
  </app-shell>
</template>

<script lang="ts">
import Vue from 'vue';
import ImageUploader from '@/components/ImageUploader.vue';
import Result from '@/lib/result/Result';
import { ValidationError } from '@/lib/validation';
import exercisesRepo, { AddExercise } from '@/repositories/exercisesRepo';

interface Data {
  errors: ValidationError<AddExercise>;
  exercise: AddExercise;
  isSaving: boolean;
}

export default Vue.extend({
  name: 'ExerciseAdd',
  components: {
    ImageUploader,
  },
  data(): Data {
    return {
      errors: {},
      exercise: {
        name: '',
        description: '',
      },
      isSaving: false,
    };
  },
  methods: {
    addExercise() {
      this.isSaving = true;
      exercisesRepo
        .addExercise(this.exercise)
        .then((result) => {
          if (Result.isError(result)) {
            this.isSaving = false;
            this.errors = result.value;
            return;
          }

          if (Result.isOk(result)) {
            // start uploading images
            const exerciseId = result.value;
          }

          this.$router.replace('/exercises');
        })
        .catch((error) => {
          this.isSaving = false;
          window.alert('Unexpected error while saving the exercise.');
        });
    },
  },
});
</script>
