<template>
  <app-shell :title="title">
    <template slot="toolbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/exercises" class="btn btn-light">
            <i class="fal fa-times" />
            <span> Cancel</span>
          </router-link>
        </li>
      </ul>
    </template>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form @submit.prevent="updateExercise" class="form mt-4">
          <form-input v-model="exercise.name" id="exercise-name"
            label="Name" :error="errors.name" :autofocus="true"
          />
          <form-input v-model="exercise.description" id="exercise-descr"
            label="Description" :error="errors.description" type="textarea"
          />
          <div class="form-group">
            <label>Images</label>
            <image-uploader
              id="exercise-image-uploader"
              :max-file-size="5242880"
              :upload-status="imagesUploadStatus"
            />
          </div>
          <loader-button type="submit" :loading="isSaving" loading-label="Updating..." class="btn btn-primary">
            Update Exercise
          </loader-button>
          <router-link to="/exercises" class="btn btn-link">Cancel</router-link>
        </form>
      </div>
    </div>
  </app-shell>
</template>

<script lang="ts">
import Vue from 'vue';
import ImageUploader, {
  FilesUploadStatus,
} from '@/components/ImageUploader.vue';
import Result from '@/lib/result/Result';
import exercisesRepo, { AddExercise } from '@/repositories/exercisesRepo';
import { ValidationError } from '@/lib/validation';
import Exercise from '@/models/Exercise';

interface Data {
  errors: ValidationError<AddExercise>;
  exercise: AddExercise;
  imagesUploadStatus: FilesUploadStatus;
  isSaving: boolean;
  sourceExercise: null | Exercise;
}

export default Vue.extend({
  name: 'ExerciseEdit',
  components: {
    ImageUploader,
  },
  data(): Data {
    return {
      errors: {},
      exercise: {
        name: '',
        description: '',
      },
      imagesUploadStatus: {},
      isSaving: false,
      sourceExercise: null,
    };
  },
  created() {
    exercisesRepo.get(this.$route.params.id).then((exercise) => {
      this.sourceExercise = exercise;
      this.exercise = {
        name: exercise.name,
        description: exercise.description || '',
      };
    });
  },
  computed: {
    title() {
      let name = '';
      if (this.sourceExercise) {
        name = `"${this.sourceExercise.name}"`;
      }
      return `Edit Exercise ${name}`;
    },
  },
  methods: {
    updateExercise() {
      this.isSaving = true;
      exercisesRepo
        .updateExercise(this.$route.params.id, this.exercise)
        .then((result) => {
          this.isSaving = false;
          if (Result.isError(result)) {
            this.errors = result.value;
          } else {
            this.$router.replace('/exercises');
          }
        })
        .catch((error) => {
          this.isSaving = false;
        });
    },
  },
});
</script>
