<template>
  <div class="container d-flex">
    <div class="row flex-fill">
      <div class="col-lg-4 col-md-8 mx-auto align-self-center">
        <div class="card">
          <div class="card-body">
            <h1 class="h3 text-center card-title mb-0">Sirkit</h1>
            <h2 class="h5 text-center text-muted mb-4">Working out in circuits</h2>
            <button :disabled="!isReady" @click="loginWithGoogle" type="button" class="btn btn-light btn-block">
              <img src="@/assets/google-logo.svg" />
              <span v-if="isReady">Log in with Google</span>
              <span v-else>Loading Google...</span>
            </button>
            <p v-if="errorMessage != ''" class="mt-2 mb-0 alert alert-danger" role="alert">
              {{errorMessage}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import firebase from '@/firebase';

const googleProvider = new firebase.auth.GoogleAuthProvider();
export default Vue.extend({
  name: 'LogIn',
  data() {
    return {
      errorMessage: '',
      isReady: false,
    };
  },
  created() {
    firebase
      .auth()
      .setPersistence(firebase.auth.Auth.Persistence.SESSION)
      .then(() => {
        this.isReady = true;
      });
  },
  methods: {
    loginWithGoogle() {
      firebase
        .auth()
        .signInWithPopup(googleProvider)
        .then(() => {
          this.$router.replace('/');
        })
        .catch((error) => {
          this.errorMessage = error.message;
        });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/styles/base.scss';

.btn {
  border: solid 1px $gray-300;
}

img {
  margin-top: -0.2rem;
  margin-right: 0.5rem;
  width: 1.2rem;
}
</style>


