<template>
  <div class="d-flex flex-fill" :class="{ 'menu-open': isMenuOpen }" >
    <div id="sidebar" class="align-self-stretch">
      <nav class="flex-column align-items-stretch navbar navbar-dark bg-dark">
        <nav class="navbar-nav pb-2">
          <button @click="toggleMenu" class="ml-auto btn btn-dark" type="button">
            <i class="fa fa-times"></i>
          </button>
        </nav>
        <ul class="navbar-nav">
          <router-link to="/exercises" tag="li" class="nav-item" active-class="active">
            <a class="nav-link">
              <i class="fas fa-dumbbell"></i>
              Exercises
            </a>
          </router-link>
          <router-link to="/circuits" tag="li" class="nav-item" active-class="active">
            <a class="nav-link">
              <i class="far fa-dot-circle"></i>
              Circuits
            </a>
          </router-link>
        </ul>
        <button type="button" class="mt-auto btn btn-dark btn-block" @click="logOut">
          <i class="fas fa-sign-out-alt"></i>
          Log Out
        </button>
        <p class="text-center text-light mb-0">
          <small>Sound effects obtained from <a href="https://www.zapsplat.com">ZapSplat</a></small>
        </p>
      </nav>
    </div>
    <div id="content" class="flex-fill">
      <nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light">
        <button v-if="!isMenuOpen" @click="toggleMenu" id="toolbar__menu-btn" class="btn btn-light" type="button">
          <i class="fa fa-bars"></i>
        </button>
        <span class="navbar-brand mb-0 h1">{{title}}</span>
        <slot name="toolbar"></slot>
      </nav>
      <div class="container-fluid">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { UserInfo } from '@/types/Store';
import firebase from '@/firebase';

const isMenuOpenKey = 'sirkit_appShell_isMenuOpen';

export default Vue.extend({
  name: 'AppShell',
  props: {
    title: {
      type: String,
      required: true,
      default: 'Sirkit',
    },
  },
  data() {
    const isMenuOpen = window.localStorage.getItem(isMenuOpenKey) !== 'false';
    return {
      isMenuOpen,
    };
  },
  computed: {
    userInfo(): UserInfo {
      return this.$store.state.userInfo;
    },
  },
  methods: {
    logOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace('log-in');
        });
    },
    toggleMenu() {
      this.isMenuOpen = !this.isMenuOpen;
      window.localStorage.setItem(isMenuOpenKey, String(this.isMenuOpen));
    },
  },
});
</script>

<style lang="scss">
@import '@/styles/base.scss';
@import '~bootstrap/scss/utilities/spacing';

.menu-open #sidebar {
  margin-left: 0;
}

#sidebar {
  background-color: theme-color('dark');
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: -250px;
  min-width: 250px;
  transition: margin-left 0.3s;

  > nav {
    height: 100vh;
  }

  .active .nav-link {
    background-color: lighten(theme-color('dark'), 2);
    border-left: solid 2px theme-color('primary');
  }

  .nav-link {
    border-left: solid 2px theme-color('dark');
    margin-left: -$spacer;
    margin-right: -$spacer;
    padding-left: $spacer;
    padding-right: $spacer;

    i {
      width: 2rem;
    }
  }
}

#toolbar__menu-btn {
  @extend .mr-2;
}

#content {
  padding-bottom: $spacer;
}
</style>


