<template>
  <div class="confirm-button" :class="`d-${display}`">
    <button v-popover="instanceId" type="button" class="btn btn-outline-danger btn-sm">
      <i v-if="showIcon" class="far fa-trash"></i>
      <span :class="{ 'sr-only': !showLabel }"> {{label}}</span>
    </button>
    <popover-help :name="instanceId" placement="top" trigger="focus">
      <div class="text-center">
        <small class="d-block mt-1 mb-2">{{confirmMessage}}</small>
        <button @click="$emit('confirm', instanceId)" type="button" class="mx-auto btn btn-danger btn-sm">
          {{confirmLabel}}
        </button>
      </div>
    </popover-help>
  </div>
</template>

<script lang="ts">
import uuid from 'uuid/v1';
import Vue from 'vue';

export default Vue.extend({
  name: 'ConfirmButton',
  props: {
    confirmLabel: {
      type: String,
      default: 'Delete',
    },
    confirmMessage: {
      type: String,
      default: 'Delete this forever?',
    },
    display: {
      type: String,
      default: 'inline',
    },
    id: {
      type: String,
    },
    label: {
      type: String,
      default: 'Delete',
    },
    showIcon: {
      type: Boolean,
      default: true,
    },
    showLabel: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      instanceId: this.id || uuid(),
    };
  },
});
</script>

<style lang="scss">
.confirm-button {
  display: inline;
}
</style>
