<template>
  <div class="form-group">
    <label :for="id">{{label}}</label>
    <textarea v-if="type === 'textarea'"
      class="form-control" :class="{ 'is-invalid': hasError }"
      v-bind:value="value" @input="updateInput" :id="id"
    ></textarea>
    <input v-else
      :type="type" class="form-control" :class="{ 'is-invalid': hasError }"
      :value="value" @input="updateInput" :id="id" v-focus="autofocus"
    >
    <span v-if="hasError" class="invalid-feedback">{{error}}</span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FormInput',
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    autofocus: {
      type: Boolean,
      default: false,
    },
    error: {
      type: String,
    },
    id: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: 'text',
    },
    value: {
      type: String,
    },
  },
  computed: {
    hasError(): boolean {
      return this.error != null;
    },
  },
  methods: {
    updateInput(event: Event) {
      if (event.target instanceof HTMLInputElement) {
        this.$emit('change', event.target.value);
      }
    },
  },
});
</script>

