<template>
  <div class="text-center m-4">
    <i class="far fa-spinner-third fa-spin fa-3x"></i>
    <p class="mt-2 text-uppercase">
      <small><slot></slot></small>
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'LoaderMessage',
});
</script>

