<template>
  <button :type="type" :disabled="isDisabled">
    <span v-if="loading">
      <i class="far fa-spinner-third fa-spin" />
      {{loadingLabel}}
    </span>
    <slot v-else></slot>
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'LoaderButton',
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
    loadingLabel: {
      type: String,
      required: false,
      default: 'Loading...',
    },
    type: {
      type: String,
      required: false,
      default: 'button',
    },
  },
  computed: {
    isDisabled(): boolean {
      return this.disabled || this.loading;
    },
  },
});
</script>

