<template>
  <div style="display: none;"><slot></slot></div>
</template>

<script lang="ts">
import $ from 'jquery';
import Vue from 'vue';

export default Vue.extend({
  name: 'PopoverHelp',
  props: {
    name: {
      type: String,
      required: true,
    },
    placement: {
      type: String,
      default: 'right',
    },
    title: {
      type: String,
    },
    trigger: {
      type: String,
    },
  },
  mounted() {
    const options: PopoverOptions = {
      content: $(this.$el).children(),
      html: true,
      placement: this.placement,
      trigger: this.trigger,
    };

    if (this.title) {
      options.title = this.title;
    }

    $(`[ref="${this.name}"]`).popover(options);
  },
  beforeDestroy() {
    $(`[ref="${this.name}"]`).popover('dispose');
  },
});
</script>

